name: CI Pipeline

on:
  push:
    branches: ["main"]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Verify HTML file
        run: echo "index.html verified"

      - name: Manual Test Check
        run: echo "Refer TEST_CASES.md for manual testing"
